# npm
node_modules
package-lock.json
npm-shrinkwrap.json
*.log
*.gz

credential.json

.env


dist

# service account
gcp-service-account.json

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore
.vercel

public/index.css
